/* Imported styles */

.test{
  width: 300px;
  height: 300px;
  background: royalblue;
  border-radius: 10px;
}
#square--elements__carousel{
  position: relative;
  width:100%;
  height: 320px;
  max-height: 450px;
  overflow: hidden;
  padding-bottom: 10px;
  box-sizing: unset;
  margin-bottom: 50px;
  margin-top: 30px;
}
.square--elements__floating{
  display: -webkit-inline-box;
  white-space: nowrap;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: .3s;
}
.square-card{
  width: calc(100% / 5 - 16px);
  margin: 3px 16px 0px 3px;
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  position: relative;
  box-shadow: 10px 10px 2px 10px #fff;
}
.square-card::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 20px;
  bottom: -1px;
  left: 0;
  right: 0;
  background: linear-gradient(0deg,#fff,hsla(0,0%,100%,0));
}
.square-card:hover::after{
  display: none;
}
.surname_f{
  font-size: 16px;
  margin: 0 !important;
}
.img-content_square{
  height: 208px;
}
.img-content_square img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.price-content_square h1{
  margin-top: 16px;
  font-size: 16px;
  font-weight: 700;
}
.price-content_square{
  text-align: center;
}
.carousel-left ,.carousel-right{
  width: 18px;
  height: 18px;
}
.buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
} 
.dehover-btn{
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b8b7b7;
  border-radius: 100%;
  transition: .3s;
  box-shadow: 2px 2px 8px 2px #fff;
}
.social-medias{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.social-medias a{
  color: rgb(30, 48, 80);
  transition: .2s;
}
.social-medias i{
  font-size: 30px;
  margin: 0 5px;
}
.tg:hover{
  color: #229ED9;
}
.insta:hover{
  color: #d62976;
}
.more-students{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.more-students h3{
  font-size: 16px;
  cursor: pointer;
}

/* Reusable styles */

.date p{
  font-size: 12px;
  line-height: 15px;
}
.date{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.calendar-svg{
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
.chev-right{
  width: 15px;
  height: 15px;
  color: royalblue;
  margin-left: 10px;
  transition: .2s;
}
.header_web{
  font-size: 22px;
  line-height: 25px;
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.header_web::before{
  content: "";
  position: absolute;
  left: -20px;
  width: 15px;
  height: 15px;
  border-radius:100%;
  border: 2px solid royalblue;
}

          /* Selected Classmate Window */

.wrapper{
  position: relative;
}
.wrapper-blur::after{
  content:"";
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000c4;
  z-index: 5;
}
.wrapper .loading-wrapper{
  z-index: 8;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}
.wrapper .loading-wrapper .loading{
  color: #fff;
}
.selected-classmate{
  background-color: #fff;
  pointer-events: all;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 400px;
  min-width: 300px;
  height: 400px;
  z-index: 6;
  border: 1px solid #ccc;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.selected-classmate .svg{
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid #ccc;
  border-right: none;
  border-top: none;
  border-bottom-left-radius: 4px;
}
.exit-svg{
  width: 30px;
  height: 30px;
}
.classmate--info{
  /* padding: 40px; */
  padding-bottom: 10px;
  width: calc(100% - 80px);
  height: calc(100% - 80px);
  border: 1px solid #ccc;
  border-radius: 3px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.classmate--info::after{
  content:"";
  width: 100%;
  height: 100%;
  background-color:#000000b5;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.classmate--info .details_c{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 20px;
  position: relative;
  z-index: 5;
  height: 100%;
}
.classmate--info .img-selectedC{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;right: 0;left: 0;
}
.classmate--info .img-selectedC img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.classmate--info .details_c::after{
  content:"";
  width: 1px;
  height: calc(100% - 50px);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #fff;
}
.classmate--info .details_c div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.classmate--info .details_c div span{
  font-size: 14px;
  color: #fff;
}

                           /* main  */

.main-news_img{
  width: 100%;
  height: 300px;
}
.main_first{
  cursor: pointer;
}
.main-news_img img{
  width: 100%;
  height: 100%;
}
.main-news_content h1{
  font-size: 24px;
  margin-bottom: 5px;
}
.main-news_blocks div{
  height: 115px;
  cursor: pointer;
}
.main-news_blocks div .img-content{
  width: 40%;
  height: 100%;
}
.main-news_blocks div .text-content{
  width: 60%;
  height: 100%;
  border-bottom: 1px solid #ccc;
}
.main-news_blocks div .img-content img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-news_blocks div .text-content .txt{
  font-size:15px;
  line-height: 18px;
  height: 54px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
.lenta .content_ .txt{
  font-size: 15px;
  line-height: 21px;
  width: 100%;
  overflow: hidden;
  max-height: 68px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.lenta{
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  margin-top: 10px;
  cursor: pointer;
}
.lenta .content_{
  display: flex;
  align-items: center;
}
.lenta .content_ .img{
  display: none;
  height: 58px;
  width: 90px;
  margin-right: 15px;
}
.lenta .content_ .img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.all-news{
  height: 50px;
  width: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  border-left-color: royalblue !important;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc;
  cursor: pointer;
  transition: .2s;
  margin-top: 20px;
}
.all-news:hover .chev-right{
  transform: translateX(10px);
  color: #fff;
}
.all-news:hover{
  background-color: royalblue;
  border-left-color: #f0f0f0 !important;
  color: #fff;
}
.all-news h1{
  font-size: 17px;
  padding-left: 20px;
}
